.actions-container{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    mat-form-field{
        width: 50%;
    }
}

table {
    width: 100%;
}

#empty-table{
    text-align: center;
}

img{
    height: 15px;
    width:  15px;
    padding: 0px 2px;
    filter: invert(100%)
}

img:hover {
    cursor: pointer;
    filter: invert(0%)
}



